/* .design {
    border: 2px solid black;
    border-collapse: collapse;
}
.head {
    border: 2px solid black;
    width: 8.5%;
    padding: 5px;
    margin: 0px;
} */
* {
    box-sizing: border-box;
}
table {
    width: 100%;
}
th {
    height: 100px;

}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
.diagonal {
    background: linear-gradient(to right bottom, #ffffff 0%,#ffffff 49.9%,#000000 50%,#000000 51%,#ffffff 51.1%,#ffffff 100%);
}
th:nth-child(even) {
    background-color: rgb(86, 86, 212);
}
th:nth-child(odd) {
    background-color: rgb(226, 234, 72);
}
th, td {
    width: 10%;
    padding: 10px;
}
.head {
    text-align: center;
}
.MB:hover, .BC:hover, .MM:hover, .Lab:hover, .F:hover, .S:hover {
    transform: scale(1.1,1.1);
    transition-duration: 1s;
    animation-fill-mode: both;
}
.E {
    background-color: grey;
    text-align: center;
    font-size: 30px;
}
.MB {
    background-color: rgb(152, 61, 232);
}
.BC {
    background-color: aqua;
}
.MM {
    background-color: rgb(110, 234, 49);
}
.L {
    background-color: red;
}
.Lab {
    background-color: violet;
}
.F {
    background-color: brown;
}
.S {
    background-color: cornflowerblue;
}
.footer {
    font-size: 16px;
    float: right;
}
a{
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: rgb(0, 0, 0);
}
a:active {
    color: rgb(0, 0, 0);
}
a:hover {
    color: darkorange;
}
.books {
    padding-left: 30px;
    p {background-color: rgb(255, 255, 255);
        width:max-content;
        position: relative;
        transition: 0.5s;
        transform-origin: left;
        transform: scaleX(1);
        border: 2px solid black;
        border-radius: 50px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    a:link {
        color: blue;
    }
    a:active {
        color: grey;
    }
    a:visited {
        color: grey;
    }
    p:hover {
        background-color: yellowgreen;
        transform-origin: left;
        transform: scaleX(1.1);
        box-shadow: 10px 10px 10px grey;
        transition-duration: 1s;
        transform:ease
    }
}
@keyframes fades {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale:1
    }
    /* 0% {
        opacity: 0
    }
    15% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.7;
    }
    40% {
        opacity: 0.9;
    }
    50% {
        opacity: 1;
    } */
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(30, 30, 161), violet, pink, rgb(151, 21, 21));
    border-radius: 10px;
}
@media screen and (max-width:800px) {
    .books p{ width: 100%;}
}
/* @media screen and (max-width:800px) {
    .books p {
        width: 100%;
    }
} */
.books p{
    animation: fades linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
 }